<!-- register.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Mono:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
    <style>
      html,
      body {
        height: 100%;
        font-family: "Montserrat", sans-serif;
      }
      .wrapper {
        min-height: 100%;
        position: relative;
      }
      * {
        margin: 0;
        padding: 0;
      }
      header {
        font-size: 2rem;
        height: 100px;
        background-color: #001e2b;
        color: #00ed64;
      }
      main {
        margin-top: 5%;
        height: 100%;
        display: flex;
      }

      input {
        height: 30px;
        width: 30%;
      }

      footer {
        display: flex;
        font-size: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #001e2b;
        color: #00ed64;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 100px;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .field {
        margin-bottom: 10px;
      }

      .nav-items {
        display: flex;
        gap: 30px;
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
      }

      button {
        color: #001e2b;
        background-color: #00ed64;
        width: 100px;
        font-size: 1rem;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }

      button:hover {
        background-color: #00ed64;
        color: #001e2b;
      }

      @media only screen and (max-width: 700px) {
        body {
          font-size: 14px;
        }
      }
      nav {
        margin: 0 20px 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 400px;
      }
      .logo {
        font-family: "Bowlby One SC", sans-serif;
        font-weight: 400;
        opacity: 0.8;
      }
      nav h3 {
        font-size: 4rem;
      }
      button:hover {
        background-color: #001e2b;
        color: #00ed64;
      }
      .main-component {
        background-color: #001e2b;
        color: #00ed64;
        margin-left: 85px;
        border: 2px solid black;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
      }
      .title {
        text-align: center;
        font-size: 34px;
      }
      .subtitle {
        color: white;
        padding: 10px;
        font-size: 18px;
        margin-left: 20px;
      }

      .buttons {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 15px;
      }
      main {
        margin: 10px;
        display: flex;
        /* align-items: center; */
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
      }
      .recipe {
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 40%;
      }
      .recipe:last-child {
        margin-bottom: 100px;
      }
      .recipe h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin-bottom: 20px;
      }

      .slide {
        flex: 0 0 auto;
        width: 300px;
        height: 200px;
        margin-right: 10px;
        scroll-snap-align: start;
        display: none;
        margin-bottom: 20px;
      }

      .slide:last-child {
        margin-right: 0;
      }

      .slide.active {
        border: 2px solid blue;
        display: block;
      }

      button {
        color: #001e2b;
        background-color: #00ed64;
        width: 150px;
        font-size: 1rem;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
      }
      p {
        margin-bottom: 5px;
      }
      button:hover {
        background-color: #ddd;
      }
      form {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div class="logo">
            <a href="/home">
              <h3>CS</h3>
            </a>
          </div>

          <div class="nav-items">
            <div class="nav-item"><a href="/recipes"> Recipes </a></div>
            <div class="nav-item"><a href="/cocktails"> Cocktails </a></div>
            <div class="nav-item"><a href="/profile"> Profile </a></div>
          </div>
        </nav>
      </header>
      <main>
        <% recipes.forEach(recipe => { %>
        <div class="recipe">
          <h2><%= recipe.title %></h2>
          <div class="slider">
            <% recipe.images.forEach((image, index) => { %>
            <img
              src="<%= image %>"
              alt="<%= recipe.title %>"
              class="slide <%= index === 0 ? 'active' : '' %>"
            />
            <% }); %>
          </div>
          <button class="prev" onclick="prevSlide(this)">❮</button>
          <button class="next" onclick="nextSlide(this)">❯</button>
          <p style="margin-top: 20px">Ingredients: <%= recipe.ingredients %></p>
          <p>Servings: <%= recipe.servings %></p>
          <p>Instructions: <%= recipe.instructions %></p>

          <div id="editForm<%= recipe._id %>" class="edit-form">
            <form action="/recipes/<%= recipe._id %>/update" method="post">
              <div class="field">
                <label for="editTitle<%= recipe._id %>">Title</label> <br />
                <input
                  type="text"
                  id="editTitle<%= recipe._id %>"
                  name="editTitle"
                  placeholder="Enter recipe title"
                />
                <br />
              </div>
              <div class="field">
                <label for="editIngredients<%= recipe._id %>"
                  >Ingredients</label
                >
                <br />
                <textarea
                  id="editIngredients<%= recipe._id %>"
                  name="editIngredients"
                  placeholder="Enter recipe ingredients"
                  rows="4"
                  cols="50"
                ></textarea>
              </div>
              <div class="field">
                <label for="editServings<%= recipe._id %>">Servings</label>
                <br />
                <input
                  type="text"
                  id="editServings<%= recipe._id %>"
                  name="editServings"
                  placeholder="Enter number of servings"
                />
              </div>
              <div class="field">
                <label for="editInstructions<%= recipe._id %>"
                  >Instructions</label
                >
                <br />
                <textarea
                  id="editInstructions<%= recipe._id %>"
                  name="editInstructions"
                  placeholder="Enter recipe instructions"
                  rows="4"
                  cols="50"
                ></textarea>
              </div>
              <br />
              <button type="submit">Save Changes</button>
              <form action="/profile/<%= recipe._id %>/delete" method="post">
                <button type="submit">Delete</button>
              </form>
            </form>
          </div>
        </div>
        <% }); %>
      </main>
      <footer>
        <h2>Artem Grents</h2>
        <h3>SE-2205</h3>
      </footer>
    </div>
    <script>
      function prevSlide(button) {
        const slider = button.parentElement.querySelector(".slider");
        const slides = slider.querySelectorAll(".slide");
        const currentSlide = slider.querySelector(".active");
        const currentIndex = Array.from(slides).indexOf(currentSlide);
        const prevIndex = (currentIndex - 1 + slides.length) % slides.length;
        currentSlide.classList.remove("active");
        slides[prevIndex].classList.add("active");
      }

      function nextSlide(button) {
        const slider = button.parentElement.querySelector(".slider");
        const slides = slider.querySelectorAll(".slide");
        const currentSlide = slider.querySelector(".active");
        const currentIndex = Array.from(slides).indexOf(currentSlide);
        const nextIndex = (currentIndex + 1) % slides.length;
        currentSlide.classList.remove("active");
        slides[nextIndex].classList.add("active");
      }
    </script>
  </body>
</html>
